.product-page {
  margin: 0 auto;
  text-align: center;
  padding: 3%;
  display: flex;
  justify-content: space-evenly;
  background: rgb(247, 247, 247);
  box-shadow: 0 2px 5px rgba(129, 128, 128, 0.3);
}

.product-page a {
  text-decoration: none;
  background: rgb(219, 153, 9);
  box-shadow: 1px 1px 10px rgb(105, 99, 87);
  border-radius: 5px;
  color: #000000;
}

.product-page a:hover {
  background: rgb(248, 187, 57);
  transition: all 0.2s linear;
}

.product-main {
  width: 35%;
  padding: 3% 2% 3% 0;
  display: flex;
  justify-content: space-around;
  border: 1px solid #ccc;
  margin: 1% 0;
  box-shadow: 1px 1px 5px rgba(124, 124, 124, 0.3),
    -1px -1px 5px rgba(124, 124, 124, 0.3);
}

.galery {
  margin: auto 0;
  width: 25%;
  padding: 0 2%;
}

.galery img {
  width: 75px;
  height: 75px;
  border: 1px solid #ccc;
  margin: 3% 0;
  cursor: pointer;
}

.img-active {
  border: 1px solid rgb(248, 187, 57);
  box-shadow: 2px 2px 5px rgb(248, 187, 57), -2px -2px 5px rgb(248, 187, 57);
}

.product-desc {
  width: 65%;
  padding: 0 3%;
  display: flex;
  justify-content: space-evenly;
}

.details {
  text-align: left;
  width: 75%;
}

.details h2 {
  font-weight: lighter;
  font-size: 2.5em;
  padding: 3% 0;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
}

.details p {
  width: 90%;
  line-height: 1.4;
  padding: 3% 0;
  font-size: 1.3em;
}

.details span {
  display: block;
  padding: 2%;
  margin: 2% 10% 2% 0;
  font-size: 1.3em;
}

.details span small {
  color: #b31b1b;
  font-size: 1em;
}

.buttons {
  width: 24%;
  border-left: 1px solid #ccc;
  text-align: left;
  padding: 5% 0 0 5%;
}

.buttons label,
#quantity-input {
  margin: 5% 0;
  display: inline;
}

.buttons label {
  font-size: 1.2em;
}

#quantity-input {
  width: 25%;
  padding: 2% 1%;
  border-radius: 5px;
  border: 1px solid #777;
  font-size: 1em;
}

.addToBasket-btn {
  width: 80%;
  margin: 5% 0;
  background: rgb(219, 153, 9);
  box-shadow: 1px 1px 10px rgb(105, 99, 87);
  border-radius: 5px;
  border: none;
  padding: 5%;
  display: block;
}

.addToBasket-btn:hover {
  background: rgb(248, 187, 57);
  transition: all 0.2s linear;
  cursor: pointer;
}

.link-basket {
  width: 70%;
  margin: 10% 0;
  padding: 5%;
  text-align: center;
  display: block;
}
